<!DOCTYPE html>
<html>
    <head>
        <title>HPDF Program</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    </head>
    <body>
        {% block body %}
        <div class='jumbotron text-center'>
        <h1>
            <img src='https://hasura.io/rstatic/resources/logo/Hasura-face-new.png'
                alt='HasuraImage' height='140px' width='150px'>
            This is a test page
            <img src='https://hasura.io/rstatic/resources/logo/Hasura-face-new.png'
                alt='HasuraImage' height='140px' width='150px'>
        </h1>
        </div>
        <div class='container'>
       <h4 style='text-align: justify;text-justify: inter-word;'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed rutrum leo a lorem tincidunt ultricies.
            Maecenas pulvinar risus sed lacus cursus varius. 
            Morbi tincidunt est a augue elementum rutrum. 
            Donec ante lectus, porttitor id neque id, rutrum malesuada urna. 
            Integer neque libero, elementum sed ultricies et, ultricies non velit. 
            Aliquam ultricies massa metus. In et orci magna. 
            Praesent sagittis efficitur semper. 
            Aenean eu molestie sapien, ac venenatis sem. 
            Donec non diam at sem sollicitudin blandit sit amet et dolor. 
            Duis malesuada, erat in aliquam porttitor, sem mauris laoreet nisi, a aliquam turpis quam ac lacus. 
       </h4> 
       </div>
        {% endblock %}
    </body>
</html>

